@font-face {
    font-family: 'Krypton';
    src: url('../fonts/Krypton.woff2') format('woff2'),
         url('../fonts/Krypton.woff') format('woff'),
         url('../fonts/Krypton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, html {
    cursor: url('../images/cursor_1.png'), auto; /* Пользовательский курсор с изображением */
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bckgrd.jpg'); /* Путь к вашей картинке */
    background-color: rgba(0, 0, 0, 0.5); /* Добавляет полупрозрачный черный слой */
    background-blend-mode: darken; /* Затемняет фон */
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-size: cover; /* Изображение масштабируется, чтобы покрыть весь фон */
    background-position: center; /* Центрирует изображение на странице */
    background-attachment: fixed; /* Фон остаётся неподвижным при прокрутке */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #1a1a2e;
    color: #bc13fe;
    text-shadow: 0 0 10px #bc13fe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Krypton', sans-serif;
    text-align: center;
    border-bottom: 2px solid #bc13fe;
    z-index: 1000;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.header-text {
    color: #bc13fe;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Krypton', sans-serif;
}

.user-actions {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1010;
}

.user-icon {
    color: #bc13fe;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.dropdown-menu {
    background-color: rgba(26, 26, 46, 0.9) !important;/* Темный фон, как у всего сайта */
    color: #bc13fe; /* Фиолетовый цвет, как на сайте */
    border-radius: 10px !important;
    box-shadow: 0 0 20px rgba(188, 19, 254, 1), 0 0 60px rgba(188, 19, 254, 0.4) !important; /* Неоновая фиолетовая тень */
    width: 220px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(10px); /* Эффект плавного появления */
}

.dropdown-menu.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 15px 20px;
    border-bottom: 2px solid #bc13fe; /* Фиолетовая линия раздела */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    color: #bc13fe; /* Сохранение фиолетового цвета для ссылок */
    text-decoration: none;
    font-size: 18px;
    font-family: 'Krypton', sans-serif;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: rgba(188, 19, 254, 0.2); /* Полупрозрачный фиолетовый на hover */
    color: #fff; /* Белый цвет при наведении */
}
/* окантовка */
#login-form, #registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    animation: pulsate 1.5s infinite alternate;
    box-shadow: 0 0 5px #fff,
                0 0 9px #fff,
                0 0 14px #fff,
                0 0 20px #fff,
                0 0 25px #fff,
                inset 0 0 30px #0fa;
    text-align: center;
}

/* цвет текста над полями */
 #close-button label, #choice-form label,#login-form label, #registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
    font-family: 'Krypton', sans-serif;
}
#choice-form h1{
  animation: flicker 3.0s infinite alternate;
  color: #fff;
  font-size: 16px;
  position: relative;
}
/* цвет полей */
#login-form input[type="email"],
#login-form input[type="password"],
#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bc13fe;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
}

/* Кнопка регистрации */
#choice-form button,
#login-form input[type="submit"],
#registration-form input[type="submit"] {
    background-color: #bc13fe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Krypton', sans-serif;
    font-size: 18px;
}
/* close button */
.close-button{
  position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff073a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Krypton', sans-serif;
    cursor: pointer;
    font-size: 14px;
}

/* смена цвета при наведении */
.close-button:hover,
#registration-form input[type="submit"]:hover,
#login-form input[type="submit"]:hover,
#choice-form button:hover {
    background-color: #ff073a;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(26, 26, 46, 0.6);
    color: #bc13fe;
    text-shadow: 0 0 10px #bc13fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Krypton', sans-serif;
    text-align: center;
    border-top: 2px solid #bc13fe;
    padding-top: 10px;
    z-index: 1000;
}

footer::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #bc13fe;
    box-shadow: 0 0 10px #bc13fe;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 150px;
}

.social-icons a {
    color: #bc13fe;
    text-decoration: none;
    font-size: 24px;
    margin-right: 30px;
}

.footer-text {
    margin: 20px;
    text-align: center;
    flex-grow: 1;
    font-family: 'Krypton', sans-serif;
    font-size: 18px;
}

.footer-text a {
    margin: 0 10px;
    color: #bc13fe;
    text-decoration: none;
    font-family: 'Krypton', sans-serif;
}

.footer-text a:hover {
    text-decoration: underline;
}
.noscript-message {
  background-color: #f8d7da; /* Красный фон для предупреждения */
  color: #721c24; /* Темно-красный цвет текста */
  padding: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 20px 0;
}
a:hover {
    cursor: url('../images/cursor_2.png'), auto;
}
button:hover {
    cursor: url('../images/cursor_2.png'), auto;
}
.custom-element:hover {
    cursor: url('../images/cursor_2.png'), auto;
}
/* Mobile adjustments */
@media only screen and (max-width: 768px) {
    /* Adjusting the header */
    header {
        flex-direction: column;
        padding: 20px;
        text-align: left;
    }

    .header-text {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .user-actions {
        position: relative;
        top: auto;
        transform: none;
        margin-top: 10px;
    }

    .user-icon {
        font-size: 28px;
    }

    /* Adjusting the dropdown menu */
    .dropdown-menu {
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
        box-shadow: none;
        opacity: 1;
        transform: none;
    }

    /* Adjust login and register forms */
    #login-form, #registration-form {
        width: 90%;
        max-width: 400px;
        padding: 15px;
        box-shadow: none;
    }

    /* Input fields */
    #login-form input[type="email"],
    #login-form input[type="password"],
    #registration-form input[type="text"],
    #registration-form input[type="email"],
    #registration-form input[type="password"] {
        width: 100%;
        font-size: 16px;
    }

    /* Buttons */
    #login-form input[type="submit"],
    #registration-form input[type="submit"],
    #choice-form button {
        width: 100%;
    }

    /* Social icons */
    .social-icons {
        margin-left: 0;
        gap: 15px;
    }

    .social-icons a {
        font-size: 20px;
    }

    /* Footer adjustments */
    footer {
        padding: 20px 10px;
        font-size: 16px;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer-text a {
        font-size: 16px;
    }

    /* Close button */
    .close-button {
        font-size: 12px;
        padding: 5px 8px;
    }
}

/* Adjustments for smaller screens (e.g., mobile) */
@media only screen and (max-width: 480px) {
    body, html {
        padding: 10px;
    }

    .header-text {
        font-size: 18px;
    }

    .social-icons a {
        font-size: 18px;
        margin-right: 15px;
    }

    .footer-text {
        font-size: 12px;
    }

    #login-form, #registration-form {
        padding: 10px;
        max-width: 320px;
    }

    /* Adjust input fields */
    #login-form input[type="email"],
    #login-form input[type="password"],
    #registration-form input[type="text"],
    #registration-form input[type="email"],
    #registration-form input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }

    /* Adjust buttons */
    #login-form input[type="submit"],
    #registration-form input[type="submit"],
    #choice-form button {
        padding: 8px;
        font-size: 16px;
    }
}
